@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&family=Open+Sans&family=Roboto+Mono:wght@100&family=Roboto:wght@100&family=Source+Code+Pro&display=swap');
*{
  box-sizing: border-box;
  margin: 0;
}

html, body {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  background:#1a1a1a;
}

.icons,
#open,
#refresh,
#close{
    position: absolute;
    padding: 8px;
    cursor: pointer;
    color: #333;
}

.icons:hover{
    color: #888;
}

.table_container{
  background:#fff;
  position: absolute;
  transform: translatex(-50%);
  left: 50%;
  padding: 35px;
  margin-top: 30px;
  width: auto;
  overflow: hidden;
  user-select: none;
  -o-user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

.settings{
    /* position: absolute; */
    background: white;
    width: 100%;
    height: 100%;
    /* top: 100%; */
    /* left: 0; */
    padding: 20px;
    transition: top 0.5s;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


#close{
    top: 0;
    right: 0;
}
    
h2{
    padding-bottom: 30px;
}
    
.input_container{
    display: block;
    margin: 10px;
    margin-top:0px;
}
    
#submit{
    background-color: rgb(0 0 0 / 0%);  
    padding: 10px;
    color:#000;
    width: 70%;
    /* position: absolute; */
    bottom: 20px;
    left: 0;
    right: 0;
    margin: auto;
    cursor:pointer;
    border: 1px solid #000;
}
    
#colorPicker{
    border: none;
    background: white;
}
  



#refresh{
top: 0;
left: 0;
}


#open{
right: 0;
top: 0;
}



  
.title{
  padding: 20px;
  color: #333;
  font-family:'Kdam Thmor Pro';
}

table,
tr,
td {
    border: 1px solid #777;
}

table {
  border-collapse: collapse;
  margin: 0 auto;
  cursor: pointer;
}

tr{
    height: 4vmin;
  }

  td {
    min-width: 4vmin;
    width: 4vmin;
    transition: background 0.15s;
  }

  td:hover{
    background: rgba(40,40,40,0.3);
  }

input[type=number] {
  border: none;
  width: 6em;
  padding: 5px;
  background: rgba(0,0,0,0.05);
}

.open{
  top: 0 !important;
}
